:root {
    --primary-color: #9B72D2;
}

nav a.active {
    position: relative;
}
nav a.active::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -5px;
    left: 0;
    border-radius: 15px;
}
.ant-skeleton.ant-skeleton-element {
    width: 100%;
    display: block;
}
.ant-card .ant-card-body {
    padding: 15px;
}
.ant-card .ant-card-cover>* {
    border-radius: 15px 15px 0 0;
}
.ant-skeleton .ant-skeleton-content .ant-skeleton-title+.ant-skeleton-paragraph {
    margin-block-start: 5px;
}
.ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph >li +li {
    margin-block-start: 4px;
}
.delete-modal.ant-modal {
    text-align: center;
}
.delete-modal.ant-modal .ant-modal-footer, .filter-modal.ant-modal .ant-modal-footer {
    text-align: center;
}
.delete-modal.ant-modal .ant-modal-content {
    border-radius: 15px;
    padding: 50px 24px;
}
.details-modal.ant-modal .ant-modal-body  {
    padding-top: 15px;
}
.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-vrrzze).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: var(--primary-color);
    color: #000;
}
.filter-modal.ant-modal .ant-collapse .ant-collapse-header {
    padding-left: 0;
    padding-right: 0;
}
.filter-modal.ant-modal .ant-collapse .ant-collapse-content-box {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.filter-modal.ant-modal .ant-collapse>.ant-collapse-item:first-child {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.short-dropdown.ant-dropdown::before {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 7px 6px;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(0deg);
    position: absolute;
    top: -5px;
    right: 35px;
    opacity: 1;
    z-index: 4;
}
.short-dropdown.ant-dropdown .ant-dropdown-menu {
    border-radius: 15px;
}
.short-dropdown.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    border-radius: 0;
}
.short-dropdown.ant-dropdown .ant-dropdown-menu-item:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.rounded-select.ant-select-single .ant-select-selector, 
.rounded-select.ant-select-multiple .ant-select-selector {
    border-radius: 25px;
    font-size: 12px;
}
.rounded-select.ant-select-single .ant-select-selector {
    padding-left: 15px;
}
.rounded-select.ant-select-multiple .ant-select-selector {
    padding-left: 10px;
}
.rounded-select.ant-select-multiple .ant-select-selector .ant-select-selection-wrap {
    min-height: 45px;
}
.carType-Select.ant-select-dropdown .ant-select-item-option::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='black'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}
.carType-Select.ant-select-dropdown .ant-select-item-option-selected::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' rx='12' fill='%23BCF14B'/%3E%3Cpath d='M10.8534 15.6488L16.6044 9.94625L17.2094 9.34638L17.8825 8.67889C18.0392 8.52359 18.0392 8.27177 17.8825 8.11647C17.7259 7.96118 17.472 7.96118 17.3153 8.11647L16.807 8.62051L16.2225 9.2001L10.2862 15.0864C10.2074 15.1645 10.1004 15.2059 9.98393 15.2046C9.85843 15.2059 9.75143 15.1645 9.67266 15.0864L6.68469 12.1236C6.52804 11.9683 6.27412 11.9683 6.11746 12.1236C5.96085 12.2789 5.96085 12.5307 6.11746 12.686L9.10543 15.6488C9.34009 15.8815 9.65589 16.0036 9.98393 15.9999C10.3029 16.0036 10.6187 15.8815 10.8534 15.6488Z' fill='%23000' stroke='%23000' stroke-width='0.8'/%3E%3C/svg%3E");
}
.carType-Select.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    font-weight: normal;
    color: #000;
}
.carType-Select.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent
}
.carTag-Select.ant-select-dropdown .ant-select-item-option-state {
    display: none;
}
.carTag-Select.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: transparent;
}
.carTag-Select.ant-select-dropdown .ant-select-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='black'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-top: 1px;
}
.carTag-Select.ant-select-dropdown .ant-select-item-option-selected::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' rx='4' fill='%23BCF14B'/%3E%3Cpath d='M10.8534 15.6488L16.6044 9.94625L17.2094 9.34638L17.8825 8.67889C18.0392 8.52359 18.0392 8.27177 17.8825 8.11647C17.7259 7.96118 17.472 7.96118 17.3153 8.11647L16.807 8.62051L16.2225 9.2001L10.2862 15.0864C10.2074 15.1645 10.1004 15.2059 9.98393 15.2046C9.85843 15.2059 9.75143 15.1645 9.67266 15.0864L6.68469 12.1236C6.52804 11.9683 6.27412 11.9683 6.11746 12.1236C5.96085 12.2789 5.96085 12.5307 6.11746 12.686L9.10543 15.6488C9.34009 15.8815 9.65589 16.0036 9.98393 15.9999C10.3029 16.0036 10.6187 15.8815 10.8534 15.6488Z' fill='%23000' stroke='%23000' stroke-width='0.8'/%3E%3C/svg%3E");
}
.carTag-Select.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: transparent;
    font-weight: normal;
    color: #000;
}
.ant-btn-color-primary {
    box-shadow: none;
}
.ant-input-outlined:hover {
    border-color: var(--primary-color);
}
.card-block .ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph>li:first-child {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 190px;
}
@media only screen and (max-width: 992px) {
    .logo {
        width: 120px;
    }
    .logo img {
        height: 100%;
    }
}